@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
  font-family: "Manrope", sans-serif;
}
@media (width<=384px) {
  .testi {
    width: 100% !important;
  }
  .topics {
    font-size: 40px !important;
  }
}
@media (width<=254px) {
  .topics {
    font-size: 30px !important;
  }
  * {
    word-wrap: break-word !important;
  }
}
@media (width<=200px) {
  #root {
    display: none;
  }
  .screen-msg {
    display: block !important;
  }
}
@media (width<287px) {
  .newsletterbox {
    grid-template-columns: auto !important;
  }
  .home-btn{
    flex-direction: column !important;
  }
  .subscribe-btn {
    padding-left: 0 !important;
    width: 85vw !important;
    height: 10vh !important;
  }
}
.shown{
transform: translateY(0px) !important;
opacity: 1 !important;}